{% extends 'diffcheckerapp/base.html' %}
{% load static %}
{% block content %}

<!-- Content start -->
<div class="content-header">
    <h1>
        Dashboard
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    </ol>
</div>
<!-- Main content -->
<div class="content body">
    <div class="callout callout-warning">
        <h4>Network Device Scanner !</h4>
    </div>
    <div class="row">
        <form method="POST">
            {% csrf_token %}
        <div class="col-md-6">
            <h3>Select Device</h3>
            <select name='primary_device' class="form-control">
                {% for device_obj in device_objs %}
                <option value='{{ device_obj.id }}'>
                    {{ device_obj.ip_address }}({{ device_obj.device_type}})
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <h3>&nbsp;</h3>
            <input class="btn btn-primary" type="submit" value="Scan Now">
        </div>
    </form>
    </div>
    <div class="row">
        <div class='col-md-6'>
            <h3>
                Primary Device Logs
                <br>
                {{primary_device_ip}}
            </h3>
            <br>

            <div class="col1">
                {% if primary_device_logs %}  
          
          {% for line  in primary_device_logs %}
          <p> {{ line }}</p>
          {% endfor %}
          {% endif %}
            </div>
        </div>
        <div class='col-md-6'>
            <h3>
                Secondary Device Logs
                <br>
                {{sec_device_ip}}
            </h3>
            <br>
            <div class="col1">
                {% if secordary_device_logs %}  
          
          {% for line  in secordary_device_logs %}
          <p> {{ line }}</p>
          {% endfor %}
          {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
       <h3>
           Scanned Logs Report
       </h3> 

    </div>
    <div class="row">

        <div class="col-md-12">
        <div class="col-report" >
          {% if deleted_records %}  
          <h4><b>Deleted Configurations </b></h4>
          {% for del_rec in deleted_records %}
          <p style='background: #F1948A;'> {{del_rec}}</p>
          {% endfor %}
          {% endif %}

          {% if added_records %}  
          <h4><b>Added Configurations</b></h4>
          {% for added_rec in added_records %}
          <p style='background: #abf18a;'> {{added_rec}}</p>
          {% endfor %}
          {% endif %}
        </div>
    </div>
    </div>
</div>
</div>
<!-- end content -->
{% endblock %}