{% extends 'diffcheckerapp/base.html' %}
{% load static %}
{% block content %}

<!-- Content start -->
<div class="content-header">
    <h1>
        Dashboard
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    </ol>
</div>
<!-- Main content -->
<div class="content body">
    <div class="callout callout-warning">
        <h4>Network Device Scanner !</h4>
    </div>
    <div class="row">
        <form method="POST">
            {% csrf_token %}
        <div class="col-md-6">
            <h3>Select Device</h3>
            <select id='drp_primary' name='primary_device' class="form-control">
                {% for device_obj in device_objs %}
                <option value='{{ device_obj.id }}'>
                    {{ device_obj.ip_address }}({{ device_obj.device_type}})
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <h3>&nbsp;</h3>
            <button type="button" class="btn btn-primary" id='scan-now' value="Scan Now">Scan Now</button>
        </div>
    </form>
    </div>
    <div class="row">
        <div class='col-md-6'>
            <h3 id='ip1'>
                Primary Device Logs
                <br>
            </h3>
            <br>

            <div id='prim_log' class="col1">
               
            </div>
        </div>
        <div class='col-md-6'>
            <h3 id='ip2'>
                Secondary Device Logs
                <br>
                
            </h3>
            <br>
            <div id='sec_log' class="col1">
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
       <h3>
           Scanned Logs Report
       </h3> 

    </div>
    <div class="row">

        <div class="col-md-12">
        <div id ='col-report' class="col-report" >
         
        </div>
    </div>
    </div>
</div>
</div>
<!-- end content -->
{% endblock %}

<!-- Ajax code for scanner button ---------->

{% block extrajs %}

<script>
$(document).ready(
  function()
  {
  $('#scan-now').click(
    function()
    {
$(this).html("<i style='color:#fff' class='fa fa-circle-o-notch fa-spin'></i>Loading");
pri_device_id = $("#drp_primary").val();
$.ajax(
  {
   url: '../',
   type : 'POST',
   data : {
     'primary_device': pri_device_id,
     "csrfmiddlewaretoken": '{{csrf_token}}'
   },
   success: function(result)
   {
   if(result['status']=="done")
   {
    var primary_p = '';
    var sec_p = '';   
   $('#scan-now').html('Scan Now'); 

   $('#ip1').html('Primary Device Logs<br>'+result['primary_ip']);
   $('#ip2').html("Secondary Device Logs<br>"+result['secondary_ip']);

   $.each(result['primary_log'], function(i, value){
       primary_p = primary_p + "<p>" + value + "</p>";
      }); 
    $('#prim_log').html(primary_p);

    $.each(result['secondary_log'], function(i, value){
        sec_p = sec_p + "<p>" + value + "</p>";
    }); 
    $('#sec_log').html(sec_p);
    
    var del_h = "<h4><b>Missing Configurations in Secondary Device </b></h4>";
    var added_h = "<h4><b>Additional Configurations in Secondary Device</b></h4>";
    var del_p = '';
    var added_p = '';
    var final_report ='';
    
    $.each(result['deleted_config'], function(i, value){
        del_p = del_p + "<p style='background: #F1948A'>" + value + "</p>";
      }); 

    $.each(result['added_config'], function(i, value){
    added_p = added_p + "<p style='background: #abf18a'>" + value + "</p>";
    }); 

    final_report = del_h + del_p + added_h + added_p;
    $('#col-report').html(final_report);

   }
   else
   {
    $('#scan-now').html('Scan Now');
    alert('Connection Failed Invalid Device IP or credentials');
   }
    
   }
  });

    });
  });

</script>
{% endblock %}
